.startScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.startButton {
  width: 200px;
  height: 50px;
  background-color: grey;
  border: 0;
}

.startButton:hover {
  cursor: pointer;
  background-color: rgb(167, 166, 166);
  transition: background-color 0.3s ease, color 0.3s ease;
}